{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>FastForm - Create your form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'create/assets/css/main.css'%}" />
	</head>
	<body>

		{% include "create/header.html" %}

		{% include "create/nav.html" %}

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header>
						<h1>Bill of Sale</h1>
					</header>
					
					<!-- Form -->
					<section>
						<div class="row">
						<div class="6u 12u$(xsmall)"> 
							<h3>{{ title }}</h3>
							<form method="post"  enctype="multipart/form-data" >
								{%csrf_token %}
																	
								<div class="row uniform 50%">
										{% for field in form %}
											
											<div class="12u$">
												{% if field.name == 'seller_state' %}
													{{ field.label }}
													<div class="select-wrapper">
														{{ field }}
													</div>
												{% else %}
													{{ field.label }}
													{{ field }}
												{% endif %}
											</div>
											
										{% endfor %}								
							  		
									<div class="12u$">
										<ul class="actions">
											<hr>
											<li><input type="submit" value="Back" class="special" /></li>
											<li><input type="submit" value="Save &amp Continue" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="6u$ 12u$(xsmall)">
							{% if id %}
							<iframe src="{% url 'create:view_bill_of_sale' id %}" style="border: 1px dotted gray" width="100%" height="1000px"></iframe>
							{% else %}
							<iframe src="{% url 'create:view_bill_of_sale'%}" style="border: 1px dotted gray" width="100%" height="1000px"></iframe>
							{% endif %}
						</div>
					</div>
					</section>
				</div>
			</section>

		{% include "create/footer.html" %}

		<!-- Scripts -->
			<script src="{% static 'create/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'create/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'create/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'create/assets/js/util.js' %}"></script>
			<script src="{% static 'create/assets/js/main.js' %}"></script>
			
	</body>
</html>