<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <div class="copyright">
        &copy; FastForm: <a href="{% url 'create:home' %}">Make Forms Fast</a>
        <br>Design: <a href="https://github.com/csc5nz">CSC</a>
    </div>
</footer>