{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>FastForm - Create your form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'create/assets/css/main.css'%}" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo"><strong>FastForm</strong></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="my_account.html">My Account</a></li>
				<li><a href="log_in.html">Log In</a></li>
			</ul>
		</nav>
		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special">
						<h1>Free Legal Documents</h1>
						<p>A tool from the document experts at FastForm</p>
					</header>

					<!-- Text -->
						<section>
							
							<header>
								
								<h2>Financial</h2>
							</header>

							<header>
								<a href="{% url 'create:create_bill_of_sale'  %}" class="logo"><h4>Bill Of Sale</h4></a>
							</header>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
								<ul class="actions">
									<li><a href="{% url 'create:create_bill_of_sale' %}" class="button special">Edit PDF</a></li>
									<li><a href="#" class="button">Download Word File</a></li>
									<li><a href="#" class="button alt">Download PDF</a></li>
								</ul>
							</p>
							
							<header>
								<h4>Cease And Desist Breach Of Contract Letter</h4>
							</header>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
								<ul class="actions">
									<li><a href="#" class="button special">Edit PDF</a></li>
									<li><a href="#" class="button">Download Word File</a></li>
									<li><a href="#" class="button alt">Download PDF</a></li>
								</ul>
							</p>
							
							<hr />

							<h2>Bussiness</h2>
						</header>

						<header>
							<h4>Articles Of Incorporation</h4>
						</header>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
						
						<header>
							<h4>Bill Of Lading</h4>
						</header>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
						
						<hr />

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<!-- Scripts -->
			<script src="{% static 'create/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'create/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'create/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'create/assets/js/util.js' %}"></script>
			<script src="{% static 'create/assets/js/main.js' %}"></script>
		

	</body>
</html>