{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>FastForm - Create your form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'create/assets/css/main.css'%}" />
	</head>
	<body>

		{% include "create/header.html" %}

		{% include "create/nav.html" %}

		<!-- Main -->
			<section id="main">
				<div class="inner 3u 6u$">
					
					<!-- Form -->
						<section>
							<h2>Log In</h2>
							<form method="POST" action="#">
								{% csrf_token %}
								<div class="row uniform 50%">
									{% for field in form %}
									<div class="12u$">
										{{ field.label }}
										{{ field }}
										{{ field.errors}}
									</div>
									{% endfor %}
								
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Log In" class="special" /></li>
											<!-- <li><input type="reset" value="Cancel" /></li> -->
										</ul>
										<ul class="actions">
											<li><a href="{% url 'create:sign_up' id=document.id %}">Sign Up</a></li>
										</ul>
									</div>
								</div>
							</form>
						</section>

					

				</div>
			</section>

		{% include "create/footer.html" %}

		<!-- Scripts -->
		<script src="{% static 'create/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'create/assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'create/assets/js/skel.min.js' %}"></script>
		<script src="{% static 'create/assets/js/util.js' %}"></script>
		<script src="{% static 'create/assets/js/main.js' %}"></script>
	
	</body>
</html>