{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>FastForm - Create your form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'create/assets/css/main.css'%}" />
	</head>
	<body>

		{% include "create/header.html" %}

		{% include "create/nav.html" %}

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special">
						<h1>Recent Documents</h1>
					</header>

						<section>
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Document</th>
											<th>Date</th>
											<th>Actions</th>
										</tr>
									</thead>

									<tbody>
										
										{% for document in documents %}
										<tr>
											
											<td><a href="{% url 'create:create_document' id=document.id %}">{{ document.doc_name }}</a></td>
											
											<td>{{ document.doc_date }}</td>
											<td>
											
												<ul class="actions small">
												<li><a href="#" class="button special small icon fa-print">Print</a></li>
												<li><a href="{% url 'create:view_pdf_document' id=document.id %}" class="button alt small icon fa-download">Download PDF</a></li>
												<li><a href="#" class="button alt small icon fa-envelope">Send PDF</a></li>
												</ul>
												
											 </td>
											<td><a href="{% url 'create:delete_document' id=document.id %}" class="button special small icon fa-trash">Delete</a></td>
										
										</tr>
										{% empty  %}
										<tr>
											<td>No documents </td>
											<td> </td>
											<td> </td>
											<td> </td>
										</tr>
										{% endfor %}	
										
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3"></td>
											<td>Page 1 of 1</td>
										</tr>
									</tfoot>
								</table>
							</section>
								

							<!-- Lists -->
						<section>
							<!-- <h3>Lists</h3> -->
							<div class="row">
								<div class="6u 12u$(xsmall)">

									<h3>Create a New Document</h3>
									<ul class="actions">
										<li><input type="text" name="name" id="name" value="" placeholder="What are you looking for?" /></li>
										<li><a href="#" class="button special icon fa-search">Search</a></li>
										
									</ul>

									
									<h4>Suggested For You</h4>
									<ul class="alt">
										<li><a href="{% url 'create:create_bill_of_sale' %}">Bill of Sale</a></li>
										<li><a href="#">Articles Of Incorporation</a></li>
										<li><a href="#">Cease And Desist Breach Of Contract Letter</a></li>
									</ul>

								</div>
								<div class="6u$ 12u$(xsmall)">

									<h3>Upload a Document to Edit</h3>
									<ul class="actions vertical">
										<li><input type="radio" id="priority-low" name="priority" checked>
											<label for="priority-low">I want to edit PDF only</label></li>
										<li><input type="radio" id="priority-low" name="priority">
											<label for="priority-low">I want to edit my PDF & rearrange pages</label></li>
										<li><li><a href="#" class="button special icon fa-upload">Select a Document to Upload</a></li></li>
										
									</ul>

									
							</div>
						</section>

								


					</div>
				</section>
						


						
					

		{% include "create/footer.html" %}

		<!-- Scripts -->
		<script src="{% static 'create/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'create/assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'create/assets/js/skel.min.js' %}"></script>
		<script src="{% static 'create/assets/js/util.js' %}"></script>
		<script src="{% static 'create/assets/js/main.js' %}"></script>
	
	</body>
</html>