{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>FastForm - Create your form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'create/assets/css/main.css'%}" />
	</head>
	<body>

		{% include "create/header.html" %}

		{% include "create/nav.html" %}

		<!-- Main -->
			<section id="main">
				<div class="inner 3u 6u$">
					
					<!-- Form -->
						<section>
							<h2>Sign Up</h2>
							<form method="post" action="#">
								<div class="row uniform 50%">
									<div class="12u$">
										<input type="text" name="name" id="name" value="" placeholder="Name" />
									</div>
									<div class="12u$">
										<input type="text" name="name" id="name" value="" placeholder="Name" />
									</div>
									
								
									<!-- <div class="6u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Name" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="email" name="email" id="email" value="" placeholder="Email" />
									</div>
									<div class="12u$">
										<div class="select-wrapper">
											<select name="category" id="category">
												<option value="">- Category -</option>
												<option value="1">Manufacturing</option>
												<option value="1">Shipping</option>
												<option value="1">Administration</option>
												<option value="1">Human Resources</option>
											</select>
										</div>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" id="priority-low" name="priority" checked>
										<label for="priority-low">Low Priority</label>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" id="priority-normal" name="priority">
										<label for="priority-normal">Normal Priority</label>
									</div>
									<div class="4u$ 12u$(xsmall)">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>
									<div class="6u 12u$(small)">
										<input type="checkbox" id="copy" name="copy">
										<label for="copy">Email me a copy of this message</label>
									</div>
									<div class="6u$ 12u$(small)">
										<input type="checkbox" id="human" name="human" checked>
										<label for="human">I am a human and not a robot</label>
									</div>
									<div class="12u$">
										<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
									</div> -->
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Submit" class="special" /></li>
											<li><input type="reset" value="Cancel" /></li>
										</ul>
										<ul class="actions">
											<li><a href="#">Sign Up</a></li>
										</ul>
									</div>
								</div>
							</form>
						</section>

					

				</div>
			</section>

		{% include "create/footer.html" %}

		<!-- Scripts -->
		<script src="{% static 'create/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'create/assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'create/assets/js/skel.min.js' %}"></script>
		<script src="{% static 'create/assets/js/util.js' %}"></script>
		<script src="{% static 'create/assets/js/main.js' %}"></script>
	
	</body>
</html>