<html>
  <head>
    <title></title>
    <meta content="">
    <style>
      div{background-color:white; text-align:justify;}
      .no-justify{text-align: left;}
      
      body{padding-right: 50px; padding-left: 50px; text-overflow:clip;}
      p{margin-bottom: 5px;}
      .page-break{display:block; margin-bottom: 75px; padding-bottom: 75px; border-bottom: 1px dashed #999;}
      /* @media (max-width: 480px) {body{padding: 10px;overflow-wrap: break-word;hyphens: auto;word-break: break-word;}} */
      .empty-var{display: inline-block; width: 200px; border-bottom: 1px solid #999; height: 20px; background: #e2e2e2;}
    </style>
  </head>
  <body>
    <br>
    <br>
    <h2 style="text-align: center;">Bill of Sale</h2>
    <div>
    <p>
      THIS BILL OF SALE is executed on {{ bill_of_sale.sale_date }}, by and 
      between {% if bill_of_sale.seller_name %}{{ bill_of_sale.seller_name }}{% else %}<span class="empty-var"> </span>{% endif %}, residing at 
      {% if bill_of_sale.seller_address %}{{ bill_of_sale.seller_address }}{% else %}<span class="empty-var"> </span>{% endif %} {% if bill_of_sale.seller_city %}{{ bill_of_sale.seller_city }}{% else %}<span class="empty-var"> </span>{% endif %}, 
      {% if bill_of_sale.seller_state %}{{ bill_of_sale.seller_state }}{% else %}<span class="empty-var"> </span>{% endif %} {% if bill_of_sale.seller_zip %}{{ bill_of_sale.seller_zip }}{% else %}<span class="empty-var"> </span>{% endif %} 
       (hereinafter referred to as the "Seller") and 
       {% if bill_of_sale.buyer_name %}{{ bill_of_sale.buyer_name }}{% else %}<span class="empty-var"> </span>{% endif %}, residing at 
       {% if bill_of_sale.buyer_address %}{{ bill_of_sale.buyer_address }}{% else %}<span class="empty-var"> </span>{% endif %} {% if bill_of_sale.buyer_city %}{{ bill_of_sale.buyer_city }}{% else %}<span class="empty-var"> </span>{% endif %}, 
       {% if bill_of_sale.buyer_state %}{{ bill_of_sale.buyer_state }}{% else %}<span class="empty-var"> </span>{% endif %} {% if bill_of_sale.buyer_zip %}{{ bill_of_sale.buyer_zip }}{% else %}<span class="empty-var"> </span>{% endif %}
       (hereinafter referred to as the "Buyer").
       <span></span>
    </p>
    <p>
      Seller hereby agrees to transfers to Buyer all rights of Seller in 
      the following property:
    </p>
    <p>
      {% if bill_of_sale.properties %}{{ bill_of_sale.properties }}{% else %}<span class="empty-var"> </span>{% endif %}
    </p>
    <p>
      For and in consideration of a total purchase price of ${% if bill_of_sale.price %}{{ bill_of_sale.price }}{% else %}0.00{% endif %}, receipt of
      which is hereby acknowledged by Seller. The form of payment used will be
       cash and sales tax is included in the purchase price of the above-mentioned property.

    </p>
    <p>
      The transfer of property shall take effect immediately upon execution of
       this Bill of Sale by both parties. Upon signing this Bill of Sale, the 
       above-mentioned property shall belong exclusively to the Buyer, and the
        Seller shall have no further responsibility for, liability towards or 
        interest in, said property.
    </p>
    <p>
      The Seller hereby affirms that the above information about this property
       is accurate to the best of his/her knowledge, and by his/her signature 
       below certifies s/he is the lawful owner of the property with the ability
        to sell it as s/he sees fit.
    </p>
    <p>
      The sale and transfer of property is hereby made on an "AS IS" condition,
       without any express or implied warranties, with no recourse to the Seller,
        provided that Seller can issue proof that it has title to the property 
        without any liens or encumbrances. The Buyer has been given the opportunity 
        to inspect, or has inspected, the property as described above. The Buyer agrees 
        to accept all property in its existing state.
    </p>
    <p>
      IN WITNESS THEREOF, the parties executed this Bill of Sale on {{ bill_of_sale.sale_date }},
    </p>
    <div class="no-justify">
      <br>
      <br>
      <br>
      <br>
      <br>
      
      (Signature of Buyer)  (Date)
      <br>
      {% if bill_of_sale.buyer_name %}{{ bill_of_sale.buyer_name }}{% else %}<span class="empty-var"> </span>{% endif %}<br>
      {% if bill_of_sale.buyer_address %}{{ bill_of_sale.buyer_address }}{% else %}<span class="empty-var"> </span>{% endif %}<br>
      {% if bill_of_sale.buyer_city %}{{ bill_of_sale.buyer_city }}{% else %}<span class="empty-var"> </span>{% endif %}, {% if bill_of_sale.buyer_state %}{{ bill_of_sale.buyer_state }}{% else %}<span class="empty-var"> </span>{% endif %} {% if bill_of_sale.buyer_zip %}{{ bill_of_sale.buyer_zip }}{% else %}<span class="empty-var"> </span>{% endif %}<br>
       
      <br>
      <br>
      <br>
      <br>
      <br>
      
      (Signature of Seller)  (Date)
      <br>
      {% if bill_of_sale.seller_name %}{{ bill_of_sale.seller_name }}{% else %}<span class="empty-var"> </span>{% endif %}<br> 
      {% if bill_of_sale.seller_address %}{{ bill_of_sale.seller_address }}{% else %}<span class="empty-var"> </span>{% endif %}<br>
      {% if bill_of_sale.seller_city %}{{ bill_of_sale.seller_city }}{% else %}<span class="empty-var"> </span>{% endif %}, {% if bill_of_sale.seller_state %}{{ bill_of_sale.seller_state }}{% else %}<span class="empty-var"> </span>{% endif %} {% if bill_of_sale.seller_zip %}{{ bill_of_sale.seller_zip }}{% else %}<span class="empty-var"> </span>{% endif %}<br> 
      
    </div>
  </div>
  </body>
</html>